  <div id="myCarousel" class="carousel slide" >

  <ol class="carousel-indicators">
      <li data-target = "#myCarousel" data-slide-to = "0" class="active"></li>
      <li data-target = "#myCarousel" data-slide-to = "1"></li>
      <li data-target = "#myCarousel" data-slide-to = "2"></li>
      <li data-target = "#myCarousel" data-slide-to = "3"></li>
    </ol>

    <div class="carousel-inner">

      <div class="item active">
        <img src="/assets/bluejordan.jpg" alt="altinfo" class="img-responsive">
        <div class="carousel-caption">
          
       
        </div>
      </div>
      
       <div class="item">
         <img src="/assets/greensneakers.jpg" alt="altinfo" class="img-responsive">
         <div class="carousel-caption">
              <h1>ABOUT US</h1>
              <p> ICON is the first sneaker consignment shop to open in Queens, New York. We are located in the heart of Queens, Main St Flushing. We carry many hard to find and limited sneakers you will not find anywhere else. We offer an 85/15-consignment rate, so prices stay low. We are the place to bring your sneakers if you have trouble selling them or just don't want to deal with the hassle. We also offer trade-ins, buy-backs and credit for certain items. So if you haven't checked us out yet be sure to stop by and pick up some sneakers at great prices!
              </p>
           
          </p>
         </div>
      </div>

      <div class="item">
         <img src="/assets/display.jpg" alt="altinfo" class="img-responsive">
         <div class="carousel-caption">
         <p>
          40-30 Case Street
          </br>Flushing, NY 11354

          </br>Mon-Sat 1-8pm
          </br>Sun 1-7pm

   
         </div>
      </div>

      <div class="item">
         <img src="/assets/pink.jpg" alt="altinfo" class="img-responsive">
         <div class="carousel-caption">
           
         </div>
      </div>


    </div>

    <a class="carousel-control left" href="#myCarousel" data-slide="prev">
      <span class ="icon-prev"></span>
    </a>

    <a class="carousel-control right" href="#myCarousel" data-slide="next">
      <span class ="icon-next"></span>
    </a>

  </div>

  <script> $('#myCarousel').carousel({ interval: 1000 }) </script>