  <div id="myCarousel" class="carousel slide" >

  <ol class="carousel-indicators">
      <li data-target = "#myCarousel" data-slide-to = "0" class="active"></li>
      <li data-target = "#myCarousel" data-slide-to = "1"></li>
      <li data-target = "#myCarousel" data-slide-to = "2"></li>
      <li data-target = "#myCarousel" data-slide-to = "3"></li>
    </ol>

    <div class="carousel-inner">

      <div class="item active">
        <img src="/assets/reservation.jpg" alt="altinfo" class="img-responsive">
        <div class="carousel-caption">
          
       
        </div>
      </div>
      
       <div class="item">
         <img src="/assets/consign.jpg" alt="altinfo" class="img-responsive">
         <div class="carousel-caption">
          
           
          </p>
         </div>
      </div>

      <div class="item">
         <img src="/assets/6pairs.jpg" alt="altinfo" class="img-responsive">
         <div class="carousel-caption">
      
   
         </div>
      </div>

      <div class="item">
         <img src="/assets/pink.jpg" alt="altinfo" class="img-responsive">
         <div class="carousel-caption">
           
         </div>
      </div>


    </div>

    <a class="carousel-control left" href="#myCarousel" data-slide="prev">
      <span class ="icon-prev"></span>
    </a>

    <a class="carousel-control right" href="#myCarousel" data-slide="next">
      <span class ="icon-next"></span>
    </a>

  </div>

  <script> $('#myCarousel').carousel({ interval: 1000 }) </script>