  <div id="myCarousel" class="carousel slide" >

  <ol class="carousel-indicators">
      <li data-target = "#myCarousel" data-slide-to = "0" class="active"></li>
      <li data-target = "#myCarousel" data-slide-to = "1"></li>
      <li data-target = "#myCarousel" data-slide-to = "2"></li>
    </ol>

    <div class="carousel-inner">

      <div class="item active">
        <img src="/assets/sneakers1.png" alt="altinfo" class="img-responsive">
        <div class="carousel-caption">
          <h1>ABOUT US</h1>
          <p> lorem ipsum doe hour justo </p>
        </div>
      </div>

      <div class="item">
         <img src="/assets/foamposites.png" alt="altinfo" class="img-responsive">
         <div class="carousel-caption">
           <h1>FAQ</h1>
         </div>
      </div>

      <div class="item">
         <img src="/assets/sneakers1.png" alt="altinfo" class="img-responsive">
         <div class="carousel-caption">
           <h1>Dont Know what to add here</h1>
         </div>
      </div>

    </div>

    <a class="carousel-control left" href="#myCarousel" data-slide="prev">
      <span class ="icon-prev"></span>
    </a>

    <a class="carousel-control right" href="#myCarousel" data-slide="next">
      <span class ="icon-next"></span>
    </a>

  </div>

    <div class "row">
    
    <div class="col-xs-12" id="welcome-header">
      <p class="logo"><img src="/assets/logo.jpg"></p>
    </div>
  </div>

  <div class="consignment">
   <h2>CONSIGNMENT</h2>

   <a name="top"></a>
   <h4>Simply thinking about the process of selling items online can be annoying and stressful. So why do the work when you can have professionals do it for you?
    </h4>

    <p>Here are some very time consuming requirements when trying to make a potential sale by yourself online:</br></p>
    <ul>
      <li>Setting up an organized and attractive auction page or forum thread</li>
      <li>Make sure to photograph attractive and detailed pictures of your item(s) so it can be appealing to your buyer</li>
      <li>You must attach a well detailed description to persuade potential buyers
      </li>
      <li>Satisfy all your buyerís high demands and requests (i.e. questions, extra photos, etc.)</li>
      <li>Worst of all you can put in all this hard work without a 100% guarantee. Why? Because you can run into fraudulent buyers, late payers, or complacent bidders</li>
      <li>Lastly, shipping and handling is always a hassle. You must pack your item(s) correctly and precisely or else expect a return from your shipper. And who wants a return item after having to wait in line at your local post office for hours?
      </li>
    </ul> 

     <p>Now here is a list of things we, the professionals, offer:</br></p>
    <ul>
      <li>A great in-store and online traffic to expose your perfectly advertised item
        </li>
      <li> Professional photographs for online display</li>
      <li> All items are neatly packaged and shipped</li>
      <li>Youíre guaranteed a smooth and hassle free sale</li>
    </ul>
    
    <h4>We do all the labor and work for you the minute you hand your item(s) to us. We handle your item(s) with care because we know you put your confidence and trust in us. When your item(s) is off the market, you will receive that nice hefty check/cash as soon as possible.</h4>  
  </div>

  <div class="questions">
   

   <h5>Consignment Details</h5>


    <ul>
      <li><a href='#Q1'>Q1: What is consignment?</a></li>
      <li><a href='#Q2'>Q2: Why consign with us?</a></li>
      <li><a href='#Q3'>Q3: What is the consignment fee?</a></li>
      <li><a href='#Q4'>Q4: Who sets the prices?</a></li>
      <li><a href='#Q5'>Q5: What if I want certain prices for my item(s)?</a></li>
      <li><a href='#Q6'>Q6: What products can I consign?</a></li>
      <li><a href='#Q7'>Q7: Where can I drop off my item(s)?</a></li>
      <li><a href='#Q8'>Q8: How long will it take my item(s) to sell?</a></li>
      <li><a href='#Q9'>Q9: When will I know when my item(s) is/are sold?</a></li>
      <li><a href='#Q10'>Q10: How will I get the money for my item(s) that have been sold?</a></li>
      <li><a href='#Q11'>Q11: What if I want my item(s) back?</a></li>
     
    </ul> 

    <a name='Q1'></a>

    <h6>Q1: What is consignment?</h6>

    <p>A:  Consignment is the act of consigning your merchandise that you wish to sell. When a person (the consignor) send their properties to an agent (the consignee) to sell on their behalf for a small percentage.
    In this case the percentage being 85/15 for new and 80/20 for used. For example if you list your item for $100, your return is $85 for new items and $80 for used items. There is no fee to list your items up, we only take 15%|20% of the sale price.</p>

    <a name='Q2'></a>

    <h6>Q2: Why consign with us?</h6>

    <p>A: We are a consignment shop like no other we offer maximum exposure online with eBay and in-store. When you consign with us we'll take care of everything for you from advertising, promoting your items, customer service to collecting payment, packing and shipping etc. Why deal with eBay auctions, online forums, flakers and deadbeat buyers, and frauds. Come to the store and forget about all the hassles of selling your stuff. Stop with all the hassles and leave it to us.
    Just bring your new/used sneakers to us with your I.D.* and have one of our staff members   who are trained in professional connoisseurship to help you do the rest. Our main concern is to provide you with the best service possible. We only accept "AUTHENTIC" items, we do not deal with counterfeit items.
    All you have to do is wait for your paycheck. Once your item sells we will contact you within 24 hours via email or by phone.*(i.e. Driver License, NYS I.D., Passport, School I.D.)</p>

    <a name='Q3'></a>

    <h6>Q3: What is the consignment fee?</h6>

    <p>A:  The consignment fee is 85/15 for new items and 80/20 for used items. 
    Meaning consignors will recieve 85% / 80% of the final sale price. There is no fee to sell the item(s). We take only take a percentage after your item has been sold</br>
    85/15 New items </br>  
    80/20 Used items</p>


    <a name='Q4'></a>

    <h6>Q4: Who sets the prices?</h6>

    <p>A: Consigners work with one of our staff members to set their desired sales prices for their own items. Prices will vary depending on rarity, condition, size availability, and on how quickly the seller wishes to sell.</p>

     <a name='Q5'></a>

    <h6>Q5: What if I want certain prices for my item(s)?</h6>

    <p>A: We deal with the consignor directly in order to find a fair price for any item that is consigned with us. We make sure to give a price that is fair for our customers, as well as our consignors.</br>

    We recommend our consignor to set their item price at current market value. Prices for similar items may vary depending on the condition, size, rarity, and how fast do they want it to be sold.
    </p>

    <a name='Q6'></a>

    <h6>Q6: What products can I consign?</h6>

    <p>A: New or slightly worn items. We only "AUTHENTIC" items will be accepted.</br>

    We recommend our consignor to set their item price at current market value. Prices for similar items may vary depending on the condition, size, rarity, and how fast do they want it to be sold.
    </p>

    <a name='Q7'></a>

    <h6>Q7: Where can I drop off my item(s)?</h6>

    <p>A: You can drop off items any time from our store located in Flushing, Queens.
    </p>

     <a name='Q8'></a>

    <h6>Q8: How long will it take for my item(s) to sell?</h6>

    <p>A: The length of time it takes for an item to sell varies. We do not guarantee a specific time fram for selling items.
    </p>

     <a name='Q9'></a>

    <h6>Q9: When will I know when my item(s) is/are sold?</h6>

    <p>A: We will notify you via email/phone when your item is sold.
    </p>

     <a name='Q10'></a>

    <h6>Q10: How will I get the money for my item(s) that have been sold?</h6>

    <p>A:  We issue a check for items sold which can be picked up at our store or it can be mailed ($10 fee) to you.
    </p>

     <a name='Q11'></a>

    <h6>Q11: What if I want my item(s) back?</h6>

    <p>A: All consignors may withdraw their item(s) at anytime.

      <ul>
      <li>Any new item that is withdrawn under 14 days will have a surcharge of $15 dollars</li>

      <li>Any used item that is withdrawn under 21 days will have a surcharge of $20 dollars
      </li>
      </ul>
      
    </p>



  </div>




  <a href='#top'>Back To Top</a>
</div>
<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script> <script src="../%pathtofile%/bootstrap.min.js"></script>
<script> $('#myCarousel').carousel({ interval: 1500 }) </script>