  <div id="myCarousel" class="carousel slide" >

  <ol class="carousel-indicators">
      <li data-target = "#myCarousel" data-slide-to = "0" class="active"></li>
      <li data-target = "#myCarousel" data-slide-to = "1"></li>
      <li data-target = "#myCarousel" data-slide-to = "2"></li>
    </ol>

    <div class="carousel-inner">

      <div class="item active">
        <img src="/assets/1998-air-max-95.jpg" alt="altinfo" class="img-responsive">
        <div class="carousel-caption">
          <h1>Caption</h1>
          <p> lorem ipsum doe hour justo </p>
        </div>
      </div>

      <div class="item">
         <img src="/assets/staple-pigeon-mns-cn-staple-pigeon.jpg" alt="altinfo" class="img-responsive">
         <div class="carousel-caption">
           <h1>Caption</h1>
         </div>
      </div>

      <div class="item">
         <img src="/assets/air-jordan-6-retro-infrared-23.jpg" alt="altinfo" class="img-responsive">
         <div class="carousel-caption">
           <h1>Caption</h1>
         </div>
      </div>

    </div>

    <a class="carousel-control left" href="#myCarousel" data-slide="prev">
      <span class ="icon-prev"></span>
    </a>

    <a class="carousel-control right" href="#myCarousel" data-slide="next">
      <span class ="icon-next"></span>
    </a>

  </div>



  <div class "row">
    <div class="col-xs-12" id="welcome-header">
      <p class="logo">Sneaker Store</p>
    </div>
  </div>


  
  <div class="row">

    <div class="col-xs-4">
<!--           <div class="welcomegrid1"><h1>Sale!</h1></div> -->
    </div>

    <div class="col-xs-4">
      <div class="welcomepic1"></div>
    </div>

    <div class="col-xs-4">
<!--           <div class="welcomegrid2"><h1>Sale!</h1></div> -->
    </div>

  </div>

  <div class="row">

    <div class="col-xs-6">
      <div class="welcomepic2"></div>
    </div>

    <div class="col-xs-6">
      <div class="welcomepic3"></div>   
   </div>

 </div>

  <div class="row">

    <div class="col-xs-4">
      <div class="welcomepic4"></div>
    </div>

    <div class="col-xs-4">
      <div class="welcomepic5"></div>
    </div>

    <div class="col-xs-4">
      <div class="welcomepic6"></div>
    </div>

  </div>

</div>

<script> $('#myCarousel').carousel({ interval: 3000 }) </script>