
  <div class="contacts-container">
  
    <span class="logo">
      <img src="/assets/logo.jpg">
    </span>


</div>

<h1 class="thankyou">Thank you for your ICON Purchase!</h1>

 <a class="return-to-products" href="pages/storefront">Return to Products</a>




