
<body>
  <div id="w">
    <header id="title">
      <h1>Your Shopping Cart</h1>
    </header>
    <div id="page">
      <table id="cart">
        <thead>
          <tr>
            <th class="first">Photo</th>
            <th class="second">Qty</th>
            <th class="third">Product</th>
            <th class="fourth">Line Total</th>
            <th class="fifth">&nbsp;</th>
          </tr>
        </thead>
        <tbody>
          <!-- shopping cart contents -->
          <tr class="productitm">
           
            <td><img src="/assets/1998-air-max-95.jpg" class="thumb"></td>
            <td><input type="number" value="1" min="0" max="99" class="qtyinput"></td>
            <td>98 Air Max 95</td>
            <td>$279.00</td>
            <td><span class="remove"><img src="http://i.imgur.com/h1ldGRr.png" alt="X"></span></td>
          </tr>
          <tr class="productitm">
          
            <td><img src="/assets/1998-air-max-95.jpg" class="thumb"></td>
            <td><input type="number" value="1" min="0" max="99" class="qtyinput"></td>
            <td>98 Air Max 95 - Orange</td>
            <td>$300.00</td>
            <td><span class="remove"><img src="http://i.imgur.com/h1ldGRr.png" alt="X"></span></td>
          </tr>
          <tr class="productitm">
           
            <td><img src="/assets/1998-air-max-95.jpg" class="thumb"></td>
            <td><input type="number" value="1" min="0" max="99" class="qtyinput"></td>
            <td>Air Jordan 13</td>
            <td>$275.00</td>
            <td><span class="remove"><img src="http://i.imgur.com/h1ldGRr.png" alt="X"></span></td>
          </tr>
          <tr class="productitm">
         
            <td><img src="/assets/1998-air-max-95.jpg" class="thumb"></td>
            <td><input type="number" value="1" min="0" max="99" class="qtyinput"></td>
            <td>Ewing 33 Hi</td>
            <td>$270.00</td>
            <td><span class="remove"><img src="http://i.imgur.com/h1ldGRr.png" alt="X"></span></td>
          </tr>
          
          <!-- tax + subtotal -->
          <tr class="extracosts">
            <td class="light">Shipping &amp; Tax</td>
            <td colspan="2" class="light"></td>
            <td>$35.00</td>
            <td>&nbsp;</td>
          </tr>
          <tr class="totalprice">
            <td class="light">Total:</td>
            <td colspan="2">&nbsp;</td>
            <td colspan="2"><span class="thick">$1159.00</span></td>
          </tr>
          
        
       
        </tbody>
      </table>
    </div>
  </div>
</body>
<!-- 
<form action="/charge" method="POST">
  <script
    src="https://checkout.stripe.com/checkout.js" class="stripe-button"
    data-key="pk_test_AAN3CBkP7NWBWFEsN4Iz3lbg"
    data-image="/img/documentation/checkout/marketplace.png"
    data-name="Demo Site"
    data-description="2 widgets"
    data-amount="2000">
  </script>
</form> -->



<%= form_tag charges_path do %>
<!--   <article>
    <label class="amount">
      <span>Dollar Amount</span>
    </label>
  </article> -->

  <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
        
          data-key="<%= Rails.configuration.stripe[:publishable_key] %>"

          data-description="ICON Purchase"
          data-amount="50000"></script>
<% end %>




